$font-stack: 'Seiden Sans', sans-serif;
$font-size: 16px;
$line-height: 28px;
$container-width: 1080px;
$grid-spacing: 8px;
$tablet-landscape-breakpoint: 1140px;
$tablet-portrait-breakpoint: 768px;
$phone-breakpoint: 480px;
$tablet-landscape-affix: tl;
$tablet-portrait-affix: tp;
$phone-affix: p;
$adjustment-max: 16;
$header-background: transparent;
$main-background: #00cca5;
$text-color: white;
$color-primary: #ef6748;
$color-secondary: #00cca5;
$color-negative: white;
$about-background: #2d2d2d;